body {
  font-family: 'Chivo', sans-serif;
  font-size: 14pt;
  font-weight: normal;
  color: #080808;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Stellar', sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 5em;
  margin: 0.2em;
  text-align: center;
}

a, .link {
  text-decoration: none;
  color: #101010;
  margin: 0.5em;
}

a:hover {
  color: gray;
}

.top-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 95%;
  z-index: 1000;
  background-color: white;
  margin: auto;
  padding-top: 0.8em;
}

.top-bar {
  margin: 1em;
  position: relative;
}

.top-bar ul{
  list-style: none;
  display: inline;
  float: right;
  margin: 0 1.5em;
}

.top-bar li {
  display: inline;
}

.brand-logo {
  margin: 0.5em;
  width: 40px;
  opacity: 0.9;
}

.support-text {
  margin: 0 0.5em;
  text-align: center;
}

.main-body {
  width: 60%;
  margin: 0 auto;
}

.preface-container {
  margin-top: 9em;
}

.gallery-grid {
  margin-top: 5em;
}

.responsive-image, .fit {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.meta {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 2em;
}

.meta h4, h3 {
  line-height: 0.2em;
}

.meta h4 {
  text-transform: uppercase;
  opacity: 0.7;
}

.meta-transition-enter {
  opacity: 0.1;
}

.meta-transition-enter.meta-transition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.meta-transition-leave {
  opacity: 1;
}

.meta-transition-leave.meta-transition-leave-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.active-tab {
  margin: 4px;
  background-color: #1BBC9B;
  height: 2px;
  border-radius: 1px;
}

.mobile-navigation {
  display: none;
}

.mobile-navigation-container {
  margin-top: 2em;
  margin-bottom: 2em;
}

.link-icon {
  height: 50px;
  opacity: 0.7;
}

.social-icons-container {
  margin-top: 3em;
}

.dock-exit {
  margin-top: 2em;
}


@media (max-width: 750px) {
  .navigation {
    display: none;
  }

  .meta {
    display: none;
  }

  .mobile-navigation {
    display: block;
  }

  .main-body {
    width: 80%
  }

  .preface-container {
    margin-top: 7em;
  }

  .preface-container h1 {
    font-size: 3em;
  }
}
